@import url("index.css");

:root {
	--bg:		#151515;
	--fg:		#E8E3E3;
	--title:	#E8E3E3;
	--hl:		#E8E3E3;
	--black:	#151515;
	--red:		#B66467;
	--green:	#8C977D;
	--yellow:	#D9BC8C;
	--blue:		#8DA3B9;
	--magenta:	#A988B0;
	--cyan:		#8AA6A2;
}

body { background-image: url("catppuccin-wall.png"); }
